<h1>Title:{{title}}</h1>
<p>{{body}}</p>
<p>{{publisher}}</p>
{{#if comments.length}}
  <dt>comments:</dt>
  <dd>
    {{#each comment in comments}}
      <div>{{comment.author}}</div>
      <div>{{comment.content}}</div>
      <div>{{comment.created_at}}</div>
    {{/each}}
  </dd>
{{/if}}



{{outlet}}
